{% extends "layout.html" %}

{% block body %}
    <div id="principal">
        <div id = "chat">
            <div id = "chat-box-field">
                <a class="title">{{receiver.username}}</a><br>
                <div id="atualizar">
                    {% for message in messages %}
                        <div class="chat-box" data-id="{{message.id}}">
                            <div>
                                {{ message.date_time }} {{ message.user }} {{ message.message }}
                           </div>
                        </div>
                    {% endfor %}
                </div>
                <form method="post" action = "{% url 'message' %}">
                    {% csrf_token %}
                    <label>
                        <input name= "message" placeholder = "Digite sua mensagem aqui" type = "text">
                    </label>
                    <button class="btn btn-outline-primary" type = "submit" name = "user_id" value = "{{ receiver.id }}">Enviar mensagem</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}







