{% extends "layout.html" %}

{% block body %}
    <div id="registro">
        <h2>Registro</h2>
        <form id=formulario action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input  type="text" name="username" placeholder="Username">
            <input  type="email" name="email" placeholder="Email Address">
            <input  type="password" name="password" placeholder="Password">
            <input  type="password" name="confirmation" placeholder="Confirm Password">
            <input  type="submit" value="Registro">
            {% if message %}
                {{ message }}
            {% endif %}
        </form>
        Já possui uma conta? <a href="{% url 'login' %}">Log aqui.</a>
    </div>

{% endblock %}